# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
  customize: !include customize.yaml
  packages: !include_dir_named include
  allowlist_external_dirs: [/config/]  

browser_mod:
history:
mobile_app:
sun:
system_health:
cast:

lovelace:
  mode: yaml
  resources:
  - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
    type: module
  - url: /hacsfiles/bar-card/bar-card.js
    type: module
  - url: /hacsfiles/lovelace-buien-rain-card/buien-rain-card.js
    type: module    
  - url: /hacsfiles/button-card/button-card.js
    type: module
  - url: /local/calendar-card.js?v=31091
    type: module
  - url: /hacsfiles/lovelace-card-mod/card-mod.js
    type: module
  - url: /hacsfiles/lovelace-card-preloader/lovelace-card-preloader.js
    type: module  
  - url: /local/custom_icons.js #?v=25052001
    type: module
  - url: /local/font.css
    type: css    
  - url: /hacsfiles/config-template-card/config-template-card.js
    type: module
  - url: /hacsfiles/decluttering-card/decluttering-card.js
    type: module
  - url: /hacsfiles/Homekit-panel-card/homekit-panel-card.js
    type: module  
  - url: /hacsfiles/lovelace-hui-element/hui-element.js
    type: module    
  - url: /hacsfiles/kiosk-mode/kiosk-mode.js
    type: module
  - url: /hacsfiles/lovelace-layout-card/layout-card.js
    type: module    
  - url: /hacsfiles/light-entity-card/light-entity-card.js
    type: module
  - url: /hacsfiles/light-popup-card/light-popup-card.js
    type: module    
  - url: /local/custom-lovelace/light-slider-card-lajv.js
    type: js    
  - url: /hacsfiles/Home-Assistant-Lovelace-Local-Conditional-card/local-conditional-card.js
    type: module
  - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
    type: module
  - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
    type: module 
  - url: /hacsfiles/lovelace-more-info-card/more-info-card.js
    type: module
  - url: /hacsfiles/now-playing-card/now-playing-card.js
    type: module      
  - url: /hacsfiles/simple-thermostat/simple-thermostat.js
    type: module  
  - url: /hacsfiles/simple-weather-card/simple-weather-card-bundle.js
    type: module 
  - url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
    type: module
  - url: /hacsfiles/spotify-card/spotify-card.js
    type: module
  - url: /hacsfiles/stack-in-card/stack-in-card.js
    type: module    
  - url: /hacsfiles/surveillance-card/surveillance-card.js
    type: module
  - url: /hacsfiles/swipe-card/swipe-card.js
    type: module
  - url: /hacsfiles/transmission-card/transmission-card.js
    type: module
  - url: /hacsfiles/upcoming-media-card/upcoming-media-card.js
    type: module  
  - url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
    type: module    
  - url: /hacsfiles/weather-card/weather-card.js
    type: module

recorder:
  auto_purge: true
  purge_keep_days: 3
  
spotify:
  client_id: !secret spotify_client_id
  client_secret: !secret spotify_client_secret

toon:
  client_id: !secret Toon_Consumer_Key
  client_secret: !secret Toon_Consumer_Secret  

frontend:
  themes: !include_dir_merge_named themes

mqtt:
  birth_message:
    topic: 'hass/status'
    payload: 'online'
  will_message:
    topic: 'hass/status'
    payload: 'offline'

spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

camera:
  - platform: mjpeg
    name: Oprit
    still_image_url: !secret still_image_url
    mjpeg_url: !secret mjpeg_url

weather:
  - platform: buienradar
    name: 'buienWeather'
    latitude: !secret latitude
    longitude: !secret longitude
    forecast: true
    
synology_dsm:
  - host: !secret synologydsm_host
    port: !secret synologydsm_port
    ssl: false
    username: !secret synologydsm_username
    password: !secret synologydsm_password    

tts:
  - platform: google_translate
  
google:
  client_id: !secret client_id
  client_secret: !secret client_secret

proximity:
  home_tesla:
    zone: home
    devices:
      - device_tracker.tesla_location
    tolerance: 10
    unit_of_measurement: km

tesla:
  username: !secret tesla_username
  password: !secret tesla_password
  scan_interval: 3600